.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.pub/
build/
coverage/

.idea/
*.iml

android/.gradle/
android/local.properties

ios/Flutter/Flutter.podspec
ios/Pods/

macos/Pods/

windows/flutter/ephemeral/
linux/flutter/ephemeral/

*.log